*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
background:#0f172a;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
color:white;
}

.container{
background:#1e293b;
padding:40px;
border-radius:15px;
width:350px;
text-align:center;
box-shadow:0 10px 25px rgba(0,0,0,0.4);
}

h1{
margin-bottom:20px;
}

.input-section{
display:flex;
gap:10px;
margin-bottom:20px;
}

input{
flex:1;
padding:10px;
border:none;
border-radius:6px;
}

button{
padding:10px 15px;
border:none;
background:#22c55e;
color:white;
border-radius:6px;
cursor:pointer;
}

ul{
list-style:none;
}

li{
background:#020617;
padding:10px;
margin-bottom:10px;
border-radius:6px;
display:flex;
justify-content:space-between;
align-items:center;
}

.completed{
text-decoration:line-through;
opacity:0.6;
}

.delete{
background:red;
padding:5px 8px;
border-radius:5px;
cursor:pointer;
}