body{
font-family: Arial, Helvetica, sans-serif;
background: linear-gradient(135deg,#0f172a,#1e293b);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
color:white;
}

.container{
background:#1e293b;
padding:30px;
border-radius:10px;
width:350px;
text-align:center;
box-shadow:0 0 20px rgba(0,0,0,0.5);
}

h1{
margin-bottom:20px;
}

.input-area{
display:flex;
gap:10px;
margin-bottom:20px;
}

input{
flex:1;
padding:10px;
border:none;
border-radius:5px;
outline:none;
}

button{
background:#22c55e;
border:none;
padding:10px 15px;
border-radius:5px;
color:white;
cursor:pointer;
}

button:hover{
background:#16a34a;
}

ul{
list-style:none;
padding:0;
}

li{
background:#334155;
padding:10px;
margin-bottom:10px;
display:flex;
justify-content:space-between;
align-items:center;
border-radius:5px;
}

.delete{
background:#ef4444;
padding:5px 10px;
border:none;
border-radius:5px;
cursor:pointer;
}

.delete:hover{
background:#dc2626;
}